# config.properties v0.0.1
# Nunca mande este arquivo para o repositorio remoto
# envie apenas uma copia generica com o nome env.properts.example

FTP_ADDRESS=0.0.0.0
FTP_USER=ftp_user
FTP_PASSWORD=ftp_password

DB_ADDRESS=locahost
DB_PORT=3306
DB_NAME=db_name
DB_USER=root
DB_PASSWORD=12345678